aenum==2.2.3
aiohttp==3.6.2
async-timeout==3.0.1
asyncio==3.4.3
attrs==19.3.0
beautifulsoup4==4.9.1
certifi==2020.4.5.1
chardet==3.0.4
fbchat>=1.9.6
idna==2.9
multidict==4.7.6
paho-mqtt==1.5.0
Pillow==9.0.0
requests==2.23.0
scrython>=1.7.1
soupsieve==2.0.1
upsidedown==0.4
urllib3==1.25.9
yarl==1.4.2
